<!DOCTYPE html>
<html>
<head>
    <title>eBanking</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body id="eBanking">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">eBanking</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <div class="jumbotron">
        <div class="container">
            <form class="form-horizontal col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1 col-xs-12" id="stocks_form">
                <h1 class="text-center"><i class="fa fa-line-chart"></i></h1>
                <div class="form-group">
                    <label for="client_name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="client_name" name="client_name" id="client_name" placeholder="Your Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="client_email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" v-model="client_email" name="client_email" id="client_email" placeholder="Your Email" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="order_type" class="col-sm-2 control-label">Order Type</label>
                    <div class="col-sm-10">
                        <select name="order_type" id="order_type" v-model="selected_order_type" options="order_types" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="company" class="col-sm-2 control-label">Company</label>
                    <div class="col-sm-10">
                        <select name="company" id="company" v-model="selected_company" options="companies" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="quantity" class="col-sm-2 control-label">Quantity</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" v-model="quantity" name="quantity" id="quantity" min="1" value="1" />
                    </div>
                </div>
                <div class="form-group text-right">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-default" @submit="submitOrder">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container" style="margin-top: 3em;">
        <form class="form-inline col-xs-12 text-center" id="orders_form">
            <div class="form-group">
                <label for="client_name_list" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="list_name" name="client_name_list" id="client_name_list" placeholder="Your Name" />
                </div>
            </div>
            <div class="form-group">
                <label for="client_email_list" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" v-model="list_email" name="client_email_list" id="client_email_list" placeholder="Your Email" />
                </div>
            </div>
            <div class="form-group text-right">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-default" @submit="getOrders">Get Orders</button>
                </div>
            </div>
        </form>

        <table class="table table-hover col-xs-12" style="margin-top: 1.5em;">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Value</th>
                    <th>Company</th>
                    <th>Request Date</th>
                    <th>Status</th>
                    <th>Execution Date</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="order in orders_from_user"></tr>
            </tbody>
        </table>
    </div>

    <script src="scripts/jquery-2.2.4.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/vue.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>
